@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: JetBrains Mono;
  font-size: 16px;
}

:root {
  --latte-base: #eff1f5;
  --latte-text: #4c4f69;
  --latte-mauve: #8839ef;
  --latte-green: #40a02b;
  --latte-maroon: #e64553;

  --macchiato-base: #303446;
  --macchiato-text: #cad3f5;
  --macchiato-mauve: #c6a0f6;
}

body {
  height: 100vh;
  display: flex;
}

.canvas-wrapper {
  flex-grow: 1;
}

canvas {
  --scale: 50px;
  --x-origin: calc(50% + var(--scale)/2);
  --y-origin: calc(50% + var(--scale)/2);
  touch-action: none;
  display: block;
  background-image: 
    linear-gradient(to right, lightgray 1px, transparent 1px),
    linear-gradient(to bottom, lightgray 1px, transparent 1px);
  background-position: var(--x-origin) var(--y-origin);
  background-size: var(--scale) var(--scale);
}

.sidebar {
  width: 20rem;
  position: sticky;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.vectors {
  display: flex;
  height: 4rem;
  flex-shrink: 0;
  margin-right: 2px;
}

.vector-index {
  width: 2rem;
  background-color: lightgray;
  border-bottom: 1px solid gray;
  padding-left: .2em;
}

.vector-input {
  box-sizing: content-box;
  flex-grow: 1;
  padding: 0 1rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid gray;
}

.vector-input:focus {
  outline: none;
}

.vectors-is-focused {
  outline: 2px solid cornflowerblue;
  position: relative;
  z-index: 999;
}

.index-is-focused {
  background-color: cornflowerblue;
  color: white;
}

.header {
  height: 2rem;
  display: flex;
  align-items: center;
  background-color: lightgray;
  border-bottom: 1px solid gray;
}

.add-button {
  font-size: 40px;
}

.title {
  text-align: center;
  flex-grow: 1;
}
